.WeatherContainer {
    max-width: max-content;
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem;
}

.CurrentWeatherContainer {
    padding: 25px 10px;
    box-shadow: 15px 14px 21px -3px rgb(34 60 80 / 22%);
    background: linear-gradient(
            90deg
            , rgb(255 255 255 / 52%) 0%, rgb(90 145 210 / 17%) 100%);
}

.CurrentWeatherTitle {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.CurrentWeatherInfo {
    display: flex;
    align-items: center;
}

.CurrentWeatherInfo > table {
    white-space: nowrap;
    padding: 15px;
    height: 180px;
}

.CurrentWeatherInfo > table tr td {
/*    white-space: nowrap;*/
    padding: 5px;
}

@media (max-width: 650px) {
    .CurrentWeatherInfo {
        justify-content: center;
        flex-wrap: wrap;
    }
    .CurrentWeatherInfo > table {
        white-space: normal;
    }
}