.WeatherContainer {
    max-width: max-content;
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem;
}

.CurrentWeatherContainer {
    padding: 25px 10px;
    background: linear-gradient(45deg, #ffffff, transparent);
}

.CurrentWeatherTitle {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.CurrentWeatherInfo {
    display: flex;
    align-items: center;
}

.CurrentWeatherInfo > table tr td {
/*    white-space: nowrap;
    padding: 5px;*/
}
.CurrentWeatherInfo > table {
    white-space: nowrap;
    padding: 5px;
    height: 180px;
}

@media (max-width: 650px) {
    .CurrentWeatherInfo {
        justify-content: center;
        flex-wrap: wrap;
    }
    .CurrentWeatherInfo > table {
        white-space: normal;
    }
}