.Dark {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../../assets/img/night.svg") no-repeat top center fixed;
    background-size: cover;
    color: white;
}

.Light {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../../assets/img/day.svg") no-repeat top center fixed;
    background-size: cover;
}

