.Container {
    max-width: 60rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 3rem;
}

.Input {
    width: 90%;
    font-family: 'Barlow-Regular', sans-serif;
    background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .9));
    border-radius: 50px;
    font-size: 1.6rem;
    color: #2c2c2c;
    transition: all 0.2s ease;
    align-self: center;
    position: relative;
    border: none;
    border-bottom: 1px solid #fafafb;
    padding: 1rem 5%;
}

.Input::placeholder {
    font-size: 1.5rem;
}

.CityList {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    width: 90%;
    margin: 0 auto;
    top: 3rem;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.SearchContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media (max-width: 400px) {
    .Input {
        z-index: 5;
    }
}