.Container {
    max-width: calc(70vw - 350px);
    margin: 0 auto;
    min-height: calc(100vh - 15rem);
}

.Input {
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid #272728;
    background-color: transparent;
    font-size: 1.6rem;
    color: #2c2c2c;
    transition: all 0.2s ease;
    align-self: center;
}

.CityList {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    width: 80%;
    top: 3rem;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .Container {
        max-width: 70vw;
    }
}