.SuggestionBlock {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 5px;
}

.SuggestionLink {
    color: #3d4145;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-bottom: 1px dotted rgb(204, 204, 204);
}

.SuggestionTemp {
    color: gray;
}