.Storage {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 250px;
    border-radius: 15px;
    top: 5px;
    right: 5px;
    padding: 15px;
}

.StorageList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.StorageTitle {
    align-self: center;
}



@media (max-width: 1000px) {
    .Storage {
        margin: 0 auto;
        position: static;
    }
}