@font-face {
  font-family: 'Barlow-Regular';
  src: url("assets/fonts/Barlow-Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Barlow-Regular', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
